<!--Codigo pertencente a tela de Pedidos-->
		<table id="cabecalho-pedido" class="pedido-header">
			<tr>
				<td style="width: 560px;">
					<font>Endereço</font>
				</td>
				<td style="width: 74px;">
					<center><font>Aberto</font></center>
				</td>
				<td style="width: 74px;">
					<center><font>Fechado</font></center>
				</td>
				<td style="width: 87px;">
					<center><font>Status</font></center>
				</td>
				<td id="preenchimento">
				</td>
			</tr>	
		</table>
<div id="pedido" >
   	<div class="accordion" id="accordion2">
		<div class="accordion-group" ng-repeat="pedido in pedidos track by pedido.id">
		    <div class="accordion-heading" style="background-color: #eeeeee;">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{pedido.id}}">						        
					<table >
			    		<tr>
			    			<td style="width: 744px; border-right: 1px solid #999999;">
			    				<font>{{pedido.endereco}}</font>
							</td>
							<td style="width: 100px; border-right: 1px solid #999999;">
								<center><font>{{pedido.horaAberto}}</font></center>
							</td>
							<td style="width: 100px; border-right: 1px solid #999999;">
								<center><font>{{pedido.horaFechado}}</font></center>
							</td>
							<td style="width: 100px;">
								<center><font>{{pedido.status}}</font></center>
							</td>
						</tr>	
					</table>
			   </a>
			</div>
		    <div id="{{pedido.id}}" class="accordion-body collapse">
		      <div class="accordion-inner">
		      		<table>
			    		<tr>
			    			<td>
						      	<div id="pedido-container">
							        <font>Itens do Pedido</font>
							        <p>
								 		<ul ng-repeat="itens in pedido.itensPedido track by itens.produto.id">
								 			<li>{{itens.produto.descricao}}</li>												 	
										</ul>
									</p>				 		
									<hr style="border: 1px solid #aaaaaa"></hr>	
									<table>
										<tr>
											<td>
												<font>Observações : {{pedido.observacao}}</font></td>
										 	<!--td style="padding-left: 40px;">
									 			<input type="checkbox" /> inserir desconto<br/>
									 			<input type="radio" name="tipo">%
									 			<input type="radio" name="tipo">$
									 			<input type="text" class="input-small" />
											</td-->
										</tr>
								 	</table> 
									<hr style="border: 1px solid #aaaaaa"></hr>	
									<table>
										<tr>
											<td class="total-pedido">
												<font>Total</font> 
											</td>
											<td class="pedido-aceitar">
												<button type="submit" class="btn btn-success" ng-click="aceitarPedido(pedido.id)">Aceitar</button>
											</td>
											<td class="pedido-rejeitar">
												<button type="submit" class="btn btn-danger" ng-click="rejeitarPedido(pedido.id)">Rejeitar</button>
											</td>
										</tr>
									</table> 					 	
								</div>
							</td>
							<td>
							  	<!--center><font size="4">Atendimento via chat</font></center>
							    <div id="chat" class="ui-widget-content" style="height:278px;">
							   		<div id="chat-typed">		      			
									</div>
									   		<div id="chat-type">
												<table>
													<tr>
														<td style="margim:0px; width: 240px; height: 100% overflow:hidden;">				
															<textarea rows="2" style="width: 248px;"></textarea>				
														</td>
														<td style="margim:0px; width: 30px; height: 20px;">
															<button type="submit" class="btn btn-primary" align="right"/><i class="icon-chevron-right"></i></button>
														</td>
													</tr>
												</table>
											</div>	      		
								</div-->
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>