body{
		min-height: 100%;
		min-width: 100%;
		display: table;
		padding: 0;
		background-image: url("../img/background.jpg"); 
		background-repeat: repeat;
		margin: 0px;
		font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

	
}



#cabecalho{
			height: 38px;
			padding-left: 5%;
			display: table;
			padding-top: 2px;
			width: 95%;
			border-bottom: 5px solid #bbbbbb;
			background: #ffffff; /* Old browsers */
			font-size: 150%;
			margin: 0;
			background: rgb(238,238,238); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */




}

#cabecalho font{
		 color: #111111;
} 
	#status-ligado{
			height: 12px;
			width: 12px;
			margin: 0px;
			border: 1px solid #aaaaaa;
			background-color: #00FF00;
			-webkit-border-radius: 15px 15px 15px 15px;
			border-radius: 15px 15px 15px 15px;
			background: rgb(210,255,82); /* Old browsers */
			background-size: 12px 12px;
			overflow: hidden;
			margin-right: 12px;
			float: left;
	}

	#status-desligado{
			height: 12px;
			width: 12px;
			margin: 0px;
			border: 1px solid #aaaaaa;
			background-color: #00FF00;
			-webkit-border-radius: 15px 15px 15px 15px;
			border-radius: 15px 15px 15px 15px;
			background: rgb(210,255,82); /* Old browsers */
			background-size: 12px 12px;
			overflow: hidden;
			margin-right: 12px;
			float: left;
	}


	.cabecalho-table td{
			display: inline;
	}
	.logo{
			height: 38px;
			width: 1000px;
			font-size: 150%;
			
	}
	.status-aberto{
			position: relative;
			top: 3px;
			font-size: 100%;
			width: 70px;
			margin-right: 10px;
			text-align: right;
	}

	.status-fechado{
			position: relative;
			top: 3px;
			font-size: 100%;
			width: 70px;
			margin-right: 10px;
			text-align: right;
	}

	.conta-config{
				height: 38px;
				width: 140px;
				background-color: none;
				position: relative;
				top: 0px;
				font-size: 100%;

	}

	.conta-config img{
				height: 38px;
				width: 38px;
				opacity: 0.9;
				margin-right: 10px;
				margin-left: 5px;
	}

	.conta-config label{
				float: left;

	}


#sub-cabecalho{
			height: 5%;
			width: 100%;
			padding-top: 8px;
}

#centro{
		min-height: 100%;
		min-width:100%;
		margin: 0 auto;

		}

centro-principal{
	min-height: 100%;
		min-width:100%;
		margin: 0 auto
}

#anuncio{
		min-width: 63%;
		min-height: 520px;
		position: relative;
		background-color: #aaaaaa;
		margin: 1%;
		border: 1px solid #04B431;
		margin-left: 2%;
		background: #fcfff4; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
		float: left;
}

	#anuncio input{
			height: 40px;
	}
	#anuncio td{
			padding-top: 21px;
			padding-left: 10px;
	}
	#anuncio font{
			font-size: 12px;
			color: #999999;
	}
	#anuncio button{
 			height: 50px;
 			width: 200px;
	}

#banner{
	width: 100%;
	height: 410px;
	border-bottom: 5px solid #04B431;
			background: rgb(143,196,0); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(143,196,0,1) 0%, rgba(143,196,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(143,196,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=1 ); /* IE6-9 */
}
#login{
		width: 16%;
		min-width: 256px;
		max-width: 100%;
		height: 486px;
		margin: 1%;
		position: relative;
		right: 0px;
		padding-left: 8%;
		padding-top: 60px;
		border: 1px solid #04B431; 
		background: #fcfff4; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */

			float: left;
}

#login input{
			height: 30px;
}

	

	#form-title{
			height: 30px;
			width: 100%;
			border-bottom: 5px solid #04B431;
			background: rgb(143,196,0); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(143,196,0,1) 0%, rgba(143,196,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(143,196,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=1 ); /* IE6-9 */
			margin: 0;
	}

	#form-title label{
			font-size: 16px;
			padding-top: 5px;
			padding-left: 10px;
	}



	#form-left{
			height: 90%;
			width: 27%;
			border-right: 1px solid #86AE42;
			float: left;
	}

	#tables{
			width: auto;
			height: auto;
			float: left;
	}

	#cabecalho-pedido{
			height: 10px;
			width: 100%;
			border: 1px solid #bbbbbb;
			border-bottom: 2px solid #555555;
	}

	#cabecalho-pedido td{
		border-right: 1px solid #bbbbbb; 
		overflow: none;
	}


	.tabbable tabs-left{
		width: 100%
	}
	.tab-content{
			height: 100%;
	}

	#tab1,#tab2,#tab3,#tab4{
		height: 570px;
		margin: 0px;
		padding: 0px;
		padding-right: 0px;
		border: 1px solid #bbbbbb;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
	}

	#tab-pedido, #tab-agenda, #tab-produtos ,#tab-mapa {
			border-bottom: 1px solid #bbbbbb;
	}

	#pedido{
			height: 95%;
			width: 100%;
			overflow: scroll;
	}

	.pedido-header{
			background: #D8D8D8; /* Old browsers */	
			text-align: center;
			background-color: #eeeeee;
	}

	.pedido-header td{
		border-bottom: 2px solid #04B404;
	}

	#preenchimento{
			width: 11px;
			border: 1px solid #999999;
			background: rgb(242,246,248); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjJmNmY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDhlMWU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjYjVjNmQwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwZWZmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
			background: linear-gradient(135deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	}

	.accordion-heading{
		text-decoration: none;
		border: 1px solid #cccccc;
		background: rgb(227,227,227); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(100%,rgba(227,227,227,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-8 */


	}

	.accordion-body{
		padding:  0px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
		overflow: auto;
	}

	.accordion-body font{
		color: #400000 ;
		font-size: 18px;
		font-family: ABeeZee;
		font-weight: bold;
 
	}

	.accordion-body ul {
		color: #400000 ;
		font-size: 16px;
		font-family: ABeeZee;

	}

	.accordion-body input {
		height: 30px;

	}

	#pedido-container{
			width: 706px;
			
			float: left;
			height: 66%;
			padding-right: 18px;
	}

	.total-pedido{
			width: 57%;
			border-right: 1px solid #999999;
	}

	.pedido-aceitar{
		width: 200px;
		padding-left: 9%;
		height: 50px;
		background: rgb(80,80,80); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MDUwNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTA1MDUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%, rgba(80,80,80,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(80,80,80,1)), color-stop(100%,rgba(80,80,80,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#505050',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	}

	.pedido-rejeitar{
		width: 200px;
		padding-left: 2%;
		height: 50px;

		background: rgb(80,80,80); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MDUwNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTA1MDUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%, rgba(80,80,80,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(80,80,80,1)), color-stop(100%,rgba(80,80,80,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(80,80,80,1) 0%,rgba(80,80,80,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#505050',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	}

	#chat{
			width: 278px;
			min-width: 280px;
			max-width: 280px;
			max-height: 370px;
			min-height: 180px;
			border: 1px solid #bbbbbb;
			float: left;
			height: 200px;
			padding: 10px;
			background-color: #ffffff;
			border-radius: 10px; 


	}

		#chat-typed{
			height: 70%;
			width: 100%;
			border-bottom: 1px solid #bbbbbb;
			background-color: #ffffff;
			overflow: auto;

		}

		#chat-type{
			height: 20%;
			width: 100%;
			background-color: #ffffff;
			overflow: hide;
		}

		#chat button{
			height: 100%;
			width: 30px;
			padding: 0px;
			margin: 0px;
		}

		#chat-type input{
			width: 100%;
			height: 53px;
		}

	.accordion-heading font{
		opacity: 1.0;
		font-size: 14px;
		font-family: ABeeZee;

	}

#calendar font{
		font-size: 8px;
}
	
.wc-toolbar{
		height: 22px;
}

.wc-toolbar .wc-title{
		padding: 12px;
}

.wc-container table{
		font-size:10px;
}
	
#list-produtos{
		min-height: 525px;
		max-height: 525px;
		width: 100%;
		max-width: 830px;
		min-width: 760px;
}

.list-produtos{
		height: 570px;
		width: 720px;
		border: 1px solid #999999;
}

#itens{
		height: 480px;
		width: 230px;
		overflow: hidden;
}

#produto-itens{
	width: 40px;
	height: 526px;
	border: 2px solid #eeeeee;
	background-color: #eeeeee;
	
}

	#produto-itens font{
		font-size: 8px;
	}
	#produto-itens button{
		height: 31px;
		width: 41px;
	}

#itens-produto{
		height: 100px;
		width: 99%;
		background-color: #f8f8f8;
		padding: 2px;

}


#list-itens-produtos{
		height: 566px;
		width: 336px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
}


#adicionais-produto{
		height: 100px;
		width: 99%;
		background-color: #f8f8f8;
		padding: 2px;
}

#item-produto-busca{
		padding: 5px; padding-left: 10px;
		border-bottom: 1px solid #999999;
} 

#items-produto-list{
			height: 470px;
			width: 95%;
			margin: 2%;
			border: 1px solid #0000CC;
			border-radius: 3px; 
			background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
}



	.accordion-heading:hover{
		opacity: none;
		border: 1px solid #40FF00;
		background: rgb(227,227,227); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(100%,rgba(227,227,227,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(227,227,227,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-8 */

	}


	.accordion-heading:hover a{
		text-decoration: blink;
	}

	#painel-esquerda{
			height: 100%;
			width: 108px;
			padding-right: 0px;
			margin: 0px;
			border-right: 1px solid #cccccc;
			background: #fcfff4; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmNmZmY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjZGZlNWQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYmVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(45deg,  #fcfff4 0%, #dfe5d7 62%, #b3bead 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fcfff4), color-stop(62%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* IE10+ */
			background: linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
			height: 91.7%;
	}

	#form {
		height: 630px;
		width: 1200px;
		margin: 0 auto;
		background-color: #ffffff;
		border: 2px solid #999999;
	}

	#form-main {
		min-height:100%;
		width: 90%;
		margin: 0 auto;
		background-color: #E7EBE5;
		border: 1px solid #bbbbbb;
		background: -moz-linear-gradient(45deg,  rgba(226,225,213,0.69) 0%, rgba(226,225,213,0.99) 95%, rgba(225,231,171,1) 99%, rgba(225,233,160,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(226,225,213,0.69)), color-stop(95%,rgba(226,225,213,0.99)), color-stop(99%,rgba(225,231,171,1)), color-stop(100%,rgba(225,233,160,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  rgba(226,225,213,0.69) 0%,rgba(226,225,213,0.99) 95%,rgba(225,231,171,1) 99%,rgba(225,233,160,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  rgba(226,225,213,0.69) 0%,rgba(226,225,213,0.99) 95%,rgba(225,231,171,1) 99%,rgba(225,233,160,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  rgba(226,225,213,0.69) 0%,rgba(226,225,213,0.99) 95%,rgba(225,231,171,1) 99%,rgba(225,233,160,1) 100%); /* IE10+ */
		background: linear-gradient(45deg,  rgba(226,225,213,0.69) 0%,rgba(226,225,213,0.99) 95%,rgba(225,231,171,1) 99%,rgba(225,233,160,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e2e1d5', endColorstr='#e1e9a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}


#form-mapa{
	height: 502px;
	width: 98%;
	border: 5px solid #dddddd;
	padding: 5px;
	padding-top: 10px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 92%, #E6E6E6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#D8D8D8), color-stop(92%,#E6E6E6), color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* IE10+ */
			background: linear-gradient(to right,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D8D8D8', endColorstr='#E6E6E6',GradientType=1 ); /* IE6-8 */
}

#form-mapa input{
	height: 30px;
}

#form-mapa font{
	font-size: 16px;
	color: #55555;
	font-style: bold;
	font-weight: 50%;
}


	#mapa{
		 height: 100%;
		 width: 100%;
		 margin: 0px;
		 padding: 0px;
		 background-color: #888888;
	}

	#form legend {
		 position: relative;
		 left: 4%;
	}

	.form{
		position: relative;
		left: 4%;

		float: left;
	}

	.form2{
		position: relative;
		left: 4%;
		float: left;
	}


#form form{
		margin: 0 auto;
		padding-right: 20px;
		padding-left: 20px;
}

#form input{
		height: 30px;
}
	
#form-rodape{
	height: 30px;
	width: 100%;
}



#rodape{
			height: 30px;
			width: 100%;
			border-top: 5px solid #bbbbbb;
			background: #D8D8D8; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 92%, #E6E6E6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#D8D8D8), color-stop(92%,#E6E6E6), color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* IE10+ */
			background: linear-gradient(to right,  #D8D8D8 0%,#E6E6E6 92%,#E6E6E6 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D8D8D8', endColorstr='#E6E6E6',GradientType=1 ); /* IE6-8 */
			margin: 0;
			margin: 0;
}

 h1 {
    margin:0 0 2em;
    padding: 0.5em;
    font-size: 1.3em;
  }

  p.description {
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    top: 3.2em;
    margin-right: 400px;
  }

  .clearer {
    clear: both;
  }

  #calendar_selection {
    font-size: 0.7em;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    background: #ffc;
    border: 1px solid #dda;
    width: 270px;
  }

  #message {
    font-size: 0.7em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    background: #ddf;
    border: 1px solid #aad;
    width: 270px;
    float: right;
  }

  /*Cadastro*/ 

  #tab-cadastro{
  	height: 440px;
  	width: 100%;
  	background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
  }

  #painel-esquerda-cadastro{
  		height: 94.2%;
  		padding-right: 0px;
  		border-right: 2px solid #999999;
  		margin: 0px;
  		background: #fcfff4; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmNmZmY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjZGZlNWQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYmVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(45deg,  #fcfff4 0%, #dfe5d7 62%, #b3bead 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fcfff4), color-stop(62%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* IE10+ */
			background: linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  }

  #preenchido{
  		background-color: #ffffff; 
  		width: 98%; 
  		padding-left: 22px; 
  		padding-top: 5px; 
  		padding-bottom: 5px;
  		border-bottom: 2px solid #999999; 
  }


  #preenchido td{
  		padding-right: 8px;
  }

  #buttons-cadastro-rodape{
  		height: 35px;
  		width: 80%;
  		border-top: 2px solid #999999; 
  		background-color: #ffffff; 	
  		padding-left: 20%; 
  		padding-top: 5px; 
  		padding-bottom: 5px;
  }

  #mapa-cadastro{
  		padding-left: 4px;
  		border-left: 2px solid #888888;
  		height: 496px;
  		width: 500px;
  }

  .tab-content{
  		height: 95%;
  }

  .tabbable tabs-left{
  		overflow: scroll;
  		width: 29%;
  }

  #form-cadastro{
  		padding-top: 10px;
  		overflow: auto;
  }

  .subtitulo{
  		border: 1px solid #cccccc; 
  		padding: 5px;
  		padding-right: 10px;
  		width: 300px;
  		text-align: right;
  		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
  }

  .campo{
  		border: 1px solid #cccccc;
  		width: 80%;
  		padding-left: 5px;

  }

    .subtitulo-itens{
  		border: 1px solid #cccccc; 
  		padding: 5px;
  		padding-right: 10px;
  		width: 14%;
  		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.96)), color-stop(100%, rgba(245,251,239,0.91)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.96) 47%, rgba(245,251,239,0.91) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5fbef', GradientType=1 );
  }

div.growlUI { 
		background-image: url(../images/warning.png) no-repeat 50px 50px;
	}
div.growlUI h4, div.growlUI h5 {
    text-align: right;
}


/*Produto */
#form-produto-add{
	border-top: 1px solid #04B404;
}
#aba-add{
		width: 100%;
		height: 20px;
		background-color: #ffffff;
		border-top: 1px solid #04B404;
}

#button-add{
	position: relative;
	top: -2px;
		width: 320px;
		height: 100%;
		margin: 0 auto;
		border: 1px solid #04B404;
		-webkit-border-radius: 0px 0px 20px 20px;
		border-radius: 0px 0px 20px 20px;	
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
		background: #d2ff52; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #d2ff52 0%,#91e842 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #d2ff52 0%,#91e842 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#button-add:hover{
		width: 320px;
		height: 100%;
		margin: 0 auto;
		-webkit-border-radius: 0px 0px 20px 20px;
		border-radius: 0px 0px 20px 20px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,299a0b+100;Green+Flat+%231 */
		background: #299a0b; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #299a0b 0%, #299a0b 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#299a0b), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #299a0b 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #299a0b 0%,#299a0b 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #299a0b 0%,#299a0b 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #299a0b 0%,#299a0b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

	#button-add:hover font{
		color: #ffffff;
	}

#form-campos{
		padding-left: 10px;
		padding-bottom:  4px;
}

#form-campos input{
		height: 40px;
}

#produto{
		overflow: hide;
}

#table-update input{
		height: 40px;
}

#icons-td1{
		margin: 0px;
		padding: 5px;
		height: 15px;
		width: 15px;
}

#icons-td1:hover{
		margin: 0px;
		padding: 4px;
		height: 15px;
		width: 15px;
		border: 1px solid #aaaaaa;
		background-color: #cccccc;
		border-radius: 5px;
}

#icons-td2{
		margin: 0px;
		padding: 5px;
		height: 15px;
		width: 15px;
}

#icons-td2:hover{
		margin: 0px;
		padding: 4px;
		height: 15px;
		width: 15px;
		border: 1px solid #aaaaaa;
		background-color: #cccccc;
		border-radius: 5px;
}

.accordion-heading .accordion-toggle {
		padding: 6px 15px;
}

.update-form{
		padding-left: 10px;
		padding-bottom: 5px;
}


/* Item */
#input-desc{
		height: 30px;
		width: 200px;
}

#accordion-heading-item{
		text-decoration: none;
		border: 1px solid #A9D0F5;
		padding: 5px;
		width: 318px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,e4f0f4+100 */
		background: #edf6f9; /* Old browsers */
		background: -moz-linear-gradient(top,  #edf6f9 0%, #e4f0f4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf6f9), color-stop(100%,#e4f0f4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #edf6f9 0%,#e4f0f4 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#e4f0f4',GradientType=0 ); /* IE6-9 */

}

.accordion-group{
		margin-right: 2px;
		margin-left: 2px;
		float: left; 	
}

#separador-produto-item{
		width: 20px;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
		background: #959595; /* Old browsers */
		background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */

}

#itemdropped{
	width: 133px; 
	height: 20px; 
	padding: 3px; 
	border-radius: 2px;
	-webkit-box-shadow:inset -1px 0 9px 1px #9AB9ED;
box-shadow:inset -1px 0 9px 1px #9AB9ED;
	font-size: 14px;
	font-weight: normal;
	margin: 1px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,e4f0f4+100 */
	background: #edf6f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #edf6f9 0%, #e4f0f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf6f9), color-stop(100%,#e4f0f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #edf6f9 0%,#e4f0f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #edf6f9 0%,#e4f0f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#e4f0f4',GradientType=0 ); /* IE6-9 */
	float: left;

}

#slider-container{
	height: 20px;
	width: 1044px;
	padding-right: 30px;
	padding-left: 30px;	
}
