<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <properties resource='jdbc.properties'/>
  
 <environments default='development'>
  <environment id='development'>
    <transactionManager type='JDBC'/>
    <dataSource type='POOLED'>   
   <property name='driver' value='${jdbc.driverClassName}'/>
   <property name='url' value='${jdbc.url}'/>
   <property name='username' value='${jdbc.username}'/>
   <property name='password' value='${jdbc.password}'/>
    </dataSource>
  </environment>
  </environments>
  
  <mappers>
      <mapper resource='estadoDAO.xml' />
      <mapper resource='cidadeDAO.xml' />
      <mapper resource='EmpresaDAO.xml' />
      <mapper resource="UserDAO.xml" />
      <mapper resource="UserRoleDAO.xml" />
      <mapper resource="ProdutoDAO.xml" />
      <mapper resource="ItemDAO.xml" />
      <mapper resource="ItemProdutoDAO.xml" />
      <mapper resource="UsuarioMobDAO.xml" />
      <mapper resource="PedidoDAO.xml" />
      <mapper resource="ItemPedidoDAO.xml" />
  </mappers>
</configuration>
