
										<form class="form-horizontal">
								   			<fieldset>	
											   <table >											
													<tr>
														<td style="padding-right: 20px;">
																		<fieldset>
																			<label>CEP <font ng-hide="isValidAll()">
																			<i id="animate1" style="position: relative;"  style="position: relative;" class="icon-hand-down" ng-hide="isValidCep()"></i>
																						<i class="icon-ok" ng-show="isValidCep()"></i></font>
																			</label>
																			<input type="text" ng-model="cep" ng-change="verificarCep(cep)" ng-blur="verificarCep(cep); getLatitudeLongitude();" class="input-large" id="cep" placeholder="CEP apenas numeros" required/>
																		</fieldset>
																	</td>
														<td>
															<fieldset>
																<label>Tipo de Empresa 	
																					<font ng-hide="isValidAll()">
																						<i id="animate2" style="position: relative;"  class="icon-hand-down" ng-hide="isValidTipo()"></i>
																						<i class="icon-ok" ng-show="isValidTipo()"></i>
																					</font>
																</label>
																<select ng-model="tipo" id="tipo">
																	<option value="">selecione o tipo de empresa</option>
																	<option value="A"> Alimentos </option>
																	<option value="U"> Utilitários</option>
																	<option value="S"> Serviços</option>
																</select>
																
															</fieldset>
														</td>
														
													</tr>											
												</table>
												<table>
													<tr>
														<td ng-cloak="getEstados()">
															<table style="padding-right: 10px;">
																<tr>
																	<td style="padding-right: 10px;">
																		<label>Estado</label>
																		<select  ng-options="estado.nome for estado in estados track by estado.nome" ng-model="estado" ng-change="getCidades()">
																		</select>
																	</td>
																	<td>
																		<label>Cidade 	<font ng-hide="isValidAll()">
																							<i id="animate3" style="position: relative;"  class="icon-hand-down" ng-hide="isValidCidade()"></i>
																							<i class="icon-ok" ng-show="isValidCidade()"></i>
																						</font>
																		</label>
																		<select ng-options="cidade.nome for cidade in cidades track by cidade.nome" ng-model="cidade" ng-change="getLatitudeLongitude()">
																		</select>
																		
																	</td>
																</tr>
																
															</table>
														</td>
													</tr>
													<tr style="padding: 51px;">
															<td style="padding-right: 10px;">
																<fieldset>
																		<label>Bairro <font ng-hide="isValidAll()"> 
																				<i id="animate4" style="position: relative;"  class="icon-hand-down" ng-hide="isValidBairro()"></i><i class="icon-ok" ng-show="isValidBairro()"></i></font>
																		</label>
																		<input type="text" ng-model="bairro" ng-blur="isValidBairro()" class="input-xxlarge"  id="bairro" placeholder="informe o bairro" required/>
																		
																</fieldset>
															</td>																
													</tr>
													<tr>
														<td>
															<label>Endereço <font ng-hide="isValidAll()"><i id="animate5" style="position: relative;"  class="icon-hand-down" ng-hide="isValidEndereco()"></i>
																			<i class="icon-ok" ng-show="isValidEndereco()"></i>
																			</font>
															</label>
															<input type="text" ng-model="endereco" ng-blur="getLatitudeLongitude()" class="input-xxlarge" placeholder="informe o endereço" required/>
															
														</td>
													</tr>
													
													
													<tr>
														<td>
															<table>
																<tr style="padding: 51px;">
																	<td>
																		<fieldset>
																			<label>Numero <font ng-hide="isValidAll()">
																				<i id="animate6" style="position: relative;"  class="icon-hand-down" ng-hide="isValidNumero()"></i>
																				<i class="icon-ok" ng-show="isValidNumero()"></i>
																				</font>
																			</label>
																			<input type="text" ng-model="numero" class="input-small" placeholder="informe o numero" required/>
																			
																		<fieldset>
																	</td>	
																																		
																</tr>
																<tr style="padding: 51px;">
																	<td style="padding-right: 10px;">
																		<fieldset>
																			<label>Telefone Fixo <font ng-hide="isValidAll()">
																				<i id="animate7" style="position: relative;"  class="icon-hand-down" ng-hide="isValidTelFixo()"></i>
																				<i class="icon-ok" ng-show="isValidTelFixo()"></i></font>
																			</label>
																			<input type="text" ng-model="telFixo" class="input-large" placeholder="informe o telefone fixo" required/>
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<label>Telefone Celular
																			<p  ng-hide="isValidAll()">	
																			<font color="red" size="1" ng-hide="isValidTelMovel()"><i id="animate8" style="position: relative;"  class="icon-hand-down" ></i> informe pelo menos um numero de telefone</font>
																				<i class="icon-ok" ng-show="isValidTelMovel()"></i></p>
																			</label>
																			<input type="text" ng-model="telMovel" class="input-large" placeholder="informe um celular" required/>
																		<fieldset>
																	</td>
																</tr>
																
															</table>													
														</td>
													</tr>
													<tr>
														<td>
															<label>email 	<font ng-hide="isValidAll()"><i id="animate9" style="position: relative;"  class="icon-hand-down" ng-hide="isValidEmail()"></i>
																			<i class="icon-ok" ng-show="isValidEmail()"></i></font>
															</label>
															<input type="email" ng-model="email" class="input-xxlarge" placeholder="informe um email como nome de usuario" required/>
														</td>
													</tr>
													<tr>
														<td>
															<table>
																		
																<tr>										
																	<td style="padding-right: 10px;">
																		<label>Senha <font ng-hide="isValidAll()"><i id="animate10" style="position: relative;"  class="icon-hand-down" ng-hide="isValidSenha()"></i>
																					 <i class="icon-ok" ng-show="isValidSenha()"></i></font>
																		</label>
																		<input type="password" ng-model="senha" class="input-medium" placeholder="minimo 8 caracteres" required/>
																	</td>
																	<td>
																		<label>Confirme a senha <font ng-hide="isValidAll()">
																				<i id="animate11" style="position: relative;"  class="icon-hand-down" ng-hide="isValidSenha()"></i>
																				<i class="icon-ok" ng-show="isValidSenha()"></i></font>
																		</label>
																		<input type="password" ng-model="confirmaSenha" class="input-medium" placeholder="minimo 8 caracteres" required/>
																	</td>										
																</tr>
															</table>
														</td>
													</tr>											
												</table>
												
											</fieldset>
										</form>	
										<div id="esperarCep" style="cursor: default; display: none; height: 100px; padding: 5px;">
									            <p><label>buscando Aguarde ..</label></p>
									    </div>